<div>
  <div>
    <button class="btn btn-primary" (click)="showCustomerReservations()">My Reservations</button>

  </div>
  <h2 style="margin: auto">Make Flight Reservation </h2>

  <div>
    <form class="form-group" [formGroup]="reservationForm" (ngSubmit)="onsubmit()">
      <div class="form-group">
        <select name="" id="from-to" class="form-control" formControlName="flightDetails"
                (change)="fromToChange($event)">
          <option value="">Select source and destination</option>
          <option *ngFor="let flight of flightDetails" [value]="flight['id']">
            {{flight["fromAirport"] + "-" + flight["toAirport"] }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="departure_time">Date</label>
        <input type="date" id="departure-date" formControlName="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="departure_time">Departure Time:</label>
        <select name="" id="departure_time" formControlName="flightDepartureTime" class="form-control">
          <option *ngFor="let flightDepartureTime of selectedFlight['flightDepartureTimes']"
                  [value]="flightDepartureTime['id']">
            {{flightDepartureTime["departureTime"]}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="departure_time">Total Seats: </label> {{selectedFlight["totalSeats"]}}
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>

